
/**
 * @file
 * Comment Styling
 */


#comments /* Wrapper for the list of comments and its title */
{
  margin: 1em 0;
}

#comments-title /* Heading for the list of comments */
{
}

.comment /* Wrapper for a single comment */
{
  background: #EEE;
  padding: 10px;
  border: 1px solid #DDD;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
	margin: .5em 0;
  position: relative;
}

.comment-inner /* Additional wrapper for a single comment */
{
}

.comment-preview /* Preview of the comment before submitting new or updated comment */
{
}

.comment.new /* A new comment since the user last viewed the page. */
{
}

.comment.odd /* An odd-numbered comment in the list of comments */
{
}

.comment.even /* An even-numbered comment in the list of comments */
{
}

.comment.first /* The first comment in the list of comments */
{
}

.comment.last /* The last comment in the list of comments */
{
}

.comment-unpublished /* Unpublished comments */
{
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. See also the div.unpublished declaration in the nodes.css. */
{
}

.comment-published /* Published comments */
{
}

.comment-by-anon /* A comment created by an anonymous user */
{
}

.comment-by-author /* A comment created by the node's author */
{
  background: #EEEEFF;
  border: 2px solid #DDDDFF;
}

.comment-mine /* A comment created by the current user */
{
}

.comment h3.title,
.comment h3.title a /* Comment title */
{
	text-decoration: none;
}

.new /* "New" marker for comments that are new for the current user */
{
  color: #c00;
}

.comment .picture /* The picture of the comment author */
{
  float: right;
  margin: 10px;
}

.comment p
{
  margin: 0 0 1em 0;
}

.comment .submitted /* The "posted by" information */
{
  color: #999;
  font-size: .9em;
}

.comment .submitted a
{
  color: #777;
}

.comment .submitted a:hover
{
  color: #999;
}

.comment .content /* Comment's content wrapper */
{
}

.comment .user-signature /* The user's signature */
{
  font-size: .9em;
  font-style: italic;
  color: #BBB;
  border-top: 1px solid #BBB;
  margin-top: 10px;
  margin-right: 100px;
  padding: 2px 5px;
}

.comment .user-signature a /* Links inside user signatures */
{
	color: #BBB;
}

.comment ul.links /* Comment links. See also the ul.links declaration in the pages.css. */
{
  float: right;
  clear: right;
  margin: 0;
}

.indented /* Nested comments are indented */
{
  /* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
}

.preview .comment /* Preview of the comment before submitting new or updated comment */
{
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

/* Comment Reply Styling */
#comments .box
{
  margin: 25px 20px;
}

#comments .box .content
{
  padding: 15px;
  background: #EEE;
  border-top: 1px dashed #BBB;
  border-bottom: 1px dashed #BBB;
}

#comment-form {
	padding: 1em;
	margin: 1em;
	background: #FFF;
	position: relative;
}

#edit-name-wrapper {
	margin-top: 0;
}

#edit-homepage-wrapper {
	width: 8em;
	top: 0em;
	left: 20em;
	position: absolute;
}

#edit-homepage-wrapper,
#edit-homepage {
	color: #777;
}

#comment-form .form-actions {
	margin-bottom: 0;
}

#comment-form input.form-text,
#comment-form textarea,
#comment-form input {
	margin: 0;
}